header {
    background-color: lightblue;
}

.logo {
    width: 130px ;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.sottolineato{
    background-color: yellow;
    display: inline;
    line-height: 0.7;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin:auto;
  }
  
th{
    text-align: left;
    background-color: rgb(176, 176, 255);
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2}

td {
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}
footer{
    background-color: purple;
    color: white;
    text-align: center;
    margin: auto;
    padding: 2px;
}

