header {
    background-image: url(../img/pattern.png) ;
    background-size: 200px;
    background-color: lightblue;
}

main {
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    width: 130px ;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}

a {
    color: lightblue;
    text-decoration: none;
}

.citazione{
    font-size: 12px;
}

#sottolineato{
    background-color: yellow;
    display: inline;
}

#list{
    margin-left: -20px;

}


table {
    border-collapse: collapse;
    width: 100%;
    
    
  }
  
th{
    text-align: left;
    background-color: rgb(176, 176, 255);
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2}

td {
    padding-top: 15px;
    padding-bottom: 15px;
    
}

footer{
    background-color: purple;
    color: white;
    text-align: center;
    margin: auto;
    padding: 2px;
}

